<!DOCTYPE html>
<html>
   <head>

      <title>Impfservice Austria</title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta name="theme-color" content="#3367d6"/>
    <link rel="shortcut icon" href="img/notepad.png" type="image/x-icon" />
   <meta name="description" content="Free Note Taking App!">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <!-- Compiled and minified JavaScript -->
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      
  
               </head>
   <body bg-color="#e4ba4e">
      <div id="vue-app-one" class="vue-app">
         <div class="container">
            

			<!-- As a heading -->
			<nav class="navbar navbar-dark bg-primary justify-content-center">
			  <span class="navbar-brand mb-0 h1">Impfservice Austria</span>
			</nav>
			<br>
			<br>
			<div class="row text-center">
				<div class="col">
					<div class="block">
						<h5>Ausgelieferte Impfdosen</h5>
						<h4>50</h4>
					</div>
				
					<div class="block">
						<h5>Verabreichte Impfdosen</h5>
						<h4>50</h4>
					</div>
					<div class="block">
						<h5>Teilimmunisierte</h5>
						<h4>50</h4>
					</div>
			
					<div class="block">
						<h5>Vollimunisierte</h5>
						<h4>34</h4>
					</div>
				</div>
				<div class="col">
					<form class="border">
  <h5><b>Impfung hinzufugen</b></h5>

   <div class="form-group">
    <label>Person auswahlen</label>
    <select class="form-control" id="person">
      <option>1</option>
    </select>
  </div>
  

   <div class="form-group">
    <label>Impfpaket auswahlen</label>
    <select class="form-control" id="impfung">
      <option>1</option>
    </select>
  </div>
  
  
   <div class="form-group">
    <label>Impfzentrum auswahlen</label>
    <select class="form-control" id="impfzentrum">
      <option>1</option>
    </select>
  </div>
  
    <div class="form-group">
    <label>Doktor auswahlen</label>
    <select class="form-control" id="doktor">
      <option>1</option>
    </select>
  </div>
  
<button class="btn btn-secondary">Impfung hinzufugen</button>
</form>
				</div>
				
			</div>
			<hr/>
			<br/>
		<div class="row text-center">
		<div class="col">
						<h5>Geimpfte pro Altersgruppe</h5>
						<table class="table table-striped">
						<thead>
							<th>Altersgruppe</th>
							<th>Anzahl</th>
							</thead>
							<tbody>
							<tr>
							<td>12 - 24</td>
							<td>0</td>
							</tr>
							</tbody>
						</table>
				</div>
		<div class="col">
						<h5>Verimpfte Dosen pro Hersteller</h5>
						<table class="table table-striped">
						<thead>
							<th>Hersteller</th>
							<th>Dosen</th>
							</thead>
							<tbody>
							<tr>
							<td>Pfizer</td>
							<td>0</td>
							</tr>
							</tbody>
						</table>
				</div>
					<div class="col">

						<h5>Geimpfte pro Geschlecht</h5>
						<table class="table table-striped">
						<thead>
							<th>Geschlect</th>
							<th>Dosen</th>
							</thead>
							<tbody>
							<tr>
							<td>Male</td>
							<td>0</td>
							</tr>
							<tr>
							<td>Female</td>
							<td>0</td>
							</tr>
							</tbody>
						</table>
		</div>	
		</div>
		<hr>
		<br>
		<h5 class="text-center">Weitere Statistiken</h5>
		<br>
		<div class="row">
			<div class="col text-center">
			<button class="btn btn-outline-primary active">Geimpfte</button>
			<button class="btn btn-outline-primary">Verfugbare Dosen</button>
			<button class="btn btn-outline-primary">Termine und Dosen</button>
			<button class="btn btn-outline-primary">Nebenwirkungen nach Geschlecht</button>
			<button class="btn btn-outline-primary">Nebenwirkungen nach Hersteller</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<table class="table table-striped">
					<thead>
					<th v-for="column in act_columns">{{column}}</th>
					</thead>
					<tbody>
					<tr v-for='row in act_rows'>
						<td v-for='data in row'>{{data}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>      
</div>
      <script src="vue.js"></script>
      <script src="axios.js"></script>
      <script src="app.js"></script>

   </body>

</html>

