body {
	font-family: Raleway;
}

h5 {
	color: dimgray;
	font-size:15px;
}

.block {
	background: #f2f2f2;
	padding:20px;
	margin-bottom:10px;
	border-radius:10px;
}

.block-sm {
	background: #f2f2f2;
	margin-bottom:20px;
	border-radius:10px;
}

.header {
	font-weight: 900;
}

.border {
	padding:10px;
}